.loginbox {
    justify-content: center;
    display: flex;
    padding: 3%;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;

}
.loginsubmit {
    display: flex;
    padding: 3%;
    justify-content: center;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;

}
input {
    margin: 1%;
}
body {

    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;

}
