@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.questionbox {
    color: rgba(72, 67, 73);
    background-color:rgba(247, 240, 240);
    border-radius: 35px;
    padding: 2%;
    width: 25%;
    flex: 2;
    text-align: center;
    margin-left:35%;
    margin-right:35%;
    margin-top:0%;
    align-content: center;
    position: fixed;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;


}

.stressscore {
    color: rgba(72, 67, 73);
    border-radius: 35px;
    padding: 2%;
    width: 20%;
    height:10%;
    margin: auto;
    flex: 2;
    text-align: center;
    align-content: center;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;

}

datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;

}

//.slider {
//  direction: rtl
//}
.loginsubmit {
    display: flex;
    padding: 3%;
    justify-content: center;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;

}
.recommendations {
    //display: flex;
    padding: 3%;
    width:100%;
    text-align: center;
    justify-content: center;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    margin-left: 50%;
}
.graphtext {
    margin-top: 3%;
    width:100%;
    justify-content: center;
    display: flex;

}

button {
    display: inline-block;
    background-color: rgba(24, 169, 153);
    padding: 8px;
    //width: 200px;
    color: #ffffff;
    text-align: center;
    //border: 4px double #cccccc;
    border-radius: 10px;
    //font-size: 28px;
    cursor: pointer;
    //margin: 5px;
    -webkit-transition: all 0.5s; /* add this line, chrome, safari, etc */
    -moz-transition: all 0.5s; /* add this line, firefox */
    -o-transition: all 0.5s; /* add this line, opera */
    transition: all 0.5s; /* add this line */
    color: black;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    border: none;

}
button:hover {
    background-color: rgba(138, 243, 255);
}

input {
    border-color:  rgba(24, 169, 153);
    border-radius: 10px;
    padding: 1%;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;

}
.graphsubtext {
    display: flex;
    padding: 3%;
    justify-content: center;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    text-decoration: none;

}

.logout {
    float: right;
    margin: 1%;
}
