.questionbox {
    color: rgba(72, 67, 73);
    background-color:rgba(247, 240, 240);
    border-radius: 35px;
    padding: 2%;
    width: 25%;
    flex: 2;
    text-align: center;
    margin-left:35%;
    margin-right:35%;
    margin-top:0%;
    align-content: center;
    position: fixed;

}

.stressscore {
    color: rgba(72, 67, 73);
    border-radius: 35px;
    padding: 2%;
    width: 20%;
    height:10%;
    margin: auto;
    flex: 2;
    text-align: center;
    align-content: center;
}

datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;

}

.slider {
  direction: rtl
}

.recommendations {
    width: 100%;
    align-content: center;
    display: flex;
    text-align: center;
}
