.questionbox {
    background-color: black;
    color: white;
    border-radius: 35px;
    padding: 2%;
    width: 25%;
    flex: 2;
    text-align: center;
    margin-left:35%;
    margin-right:35%;

    align-content: center;
    position: fixed;

}

.stressscore {
    background-color: black;
    color: white;
    border-radius: 35px;
    padding: 2%;
    width: 20%;
    height:10%;
    margin: auto;
    flex: 2;
    text-align: center;
    align-content: center;
}

datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}
